
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../public/fonts/roboto/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('./../public/fonts/roboto/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('./../public/fonts/roboto/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('./../public/fonts/roboto/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('./../public/fonts/roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto';
  -moz-osx-font-smoothing: grayscale;
}
